<div class="sidebar">

        <div class="sidebar-section">
             <h5><span>Recommended</span></h5>
           <a href="https://www.bdpw.io/" title="Crypto Currency Trading programs" target="_blank"><img src="{{ site.baseurl }}/assets/images/bitcoin.png" alt="BDPW offers Crypto Currency Trading programs to select clients who wish to build a portfolio suited to their own level of risk" /></a>
           <br>
           <br>
           <br>
           <h5><span>Why Invest</span></h5>
         <a href="http://investorassistgroup.com/statergy.html" title="Why Invest?" target="_blank"><img src="{{ site.baseurl }}/assets/images/brisbane.png" alt="Property Investments" /></a>
        </div>

        <div class="sidebar-section">
            <h5><span>Links</span></h5>
            <ul style="list-none;">
            <li><a target="_blank" href="http://investorassistgroup.com/">Investor Assist</a></li>
            <li><a target="blank" href="https://www.bdpw.io/">Crypto Currency</a></li>
            <li><a target="blank" href="https://equitygain.com.au/#cbde59d963/">Free Report</a></li>
            <li><a target="blank" href="https://equitygain.com.au/services/property-unit-trust//">Manage your tax dollar</a></li>
            </ul>
        </div>

</div>
